#about {
  padding-top: 100px;
  padding-bottom: 100px;
}

#about-div {
  width: 70%;
  margin: auto;
  text-align:left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid rgb(82, 82, 82); */
}

#about-icon{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 1px solid white; */
  justify-content: space-between;
  margin-top: 20px;
}

#about-div i{
  font-size: 40px;
  margin: 10px 20px;
}
#about h2 {
  border: 1px solid rgb(82, 82, 82);
  padding: 10px;
  width: 42%;
  margin: auto;
  text-align: center;
}
#user-detail-intro{
  width: 50%;
  font-family:'Courier New', Courier, monospace;
  font-weight: 600;
  user-select: none;
}
#user-detail-intro span{
  font-weight: 600;
}

/* For smartphones */
@media (max-width: 480px) {
  /* CSS styles for smartphones */
  #about {
    font-weight: 100;
    font-size: x-small;
  }
}

/* For smartphones */
@media screen and (min-width: 100px) and (max-width: 480px) {
  /* CSS styles for smartphones */
     
}

/* For small tablets */
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* CSS styles for small tablets */
}

/* For larger tablets and smaller laptops */
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* CSS styles for larger tablets and smaller laptops */
}

/* For desktop screens */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  /* CSS styles for desktop screens */
}

/* For large screens */
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  /* CSS styles for large screens */
}