#about {
  padding-top: 100px;
  padding-bottom: 100px;
}
#about h2 {
  border: 1px solid rgb(82, 82, 82);
  padding: 10px;
  width: 42%;
  margin: auto;
  text-align: center;
}
#about-div {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#about-div > div > div {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#user-detail {
  /* background-color: aqua; */
  padding: 15px;
  border: 1px solid rgb(82, 82, 82);
  font-size: medium;
  line-height: 20px;
}

#about-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

#about-div i {
  font-size: 40px;
  margin: 10px 20px;
}

#about p{
  font-weight: 700;
}
#about img{
  width:45%;
}

/* For smartphones */
@media screen and (min-width: 100px) and (max-width: 480px) {
  /* CSS styles for smartphones */
  #about {
    padding-top: 70px;
    padding-bottom: 100px;
  }
  #about h2 {
    border: 1px solid rgb(82, 82, 82);
    padding: 5px;
    width: 42%;
    margin: auto;
    text-align: center;
    font-size: small;
  }

  #about h4{
    font-size: small;
  }

  #about-div {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(82, 82, 82);
    align-items: center;
    text-align: center;
  }
  
  #about-div > div > div {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #user-detail {
    /* background-color: aqua; */
    padding: 5px;
    font-size: medium;
  }
  
  #about-icon {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
  }
  
  #about-div i {
    font-size: 10px;
    margin: 5px 10px;
  }
  
  #about p{
    font-weight: 600;
    font-size: xx-small;
  }

  #about img{
    width:45%;
  }
}

/* For small tablets */
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* CSS styles for small tablets */
  #about {
    padding-top: 70px;
    padding-bottom: 100px;
  }
  #about h2 {
    border: 1px solid rgb(82, 82, 82);
    padding: 5px;
    width: 42%;
    margin: auto;
    text-align: center;
  }
  #about-div {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(82, 82, 82);
    align-items: center;
    text-align: center;
  }
  
  #about-div > div > div {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #user-detail {
    /* background-color: aqua; */
    padding: 5px;
    font-size: medium;
  }
  
  #about-icon {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
  }
  
  #about-div i {
    font-size: 20px;
    margin: 5px 10px;
  }
  
  #about p{
    font-weight: 700;
  }

  #about img{
    width:45%;
  }
}

/* For larger tablets and smaller laptops */
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* CSS styles for larger tablets and smaller laptops */
  
}

/* For desktop screens */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  /* CSS styles for desktop screens */
}

/* For large screens */
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  /* CSS styles for large screens */
}
