#about {
  padding-top: 80px;
}

#about-div {
  width: 70%;
  margin: auto;
  text-align:left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid rgb(82, 82, 82); */
}
#about h2 {
  border: 1px solid rgb(82, 82, 82);
  padding: 10px;
  width: 42%;
  margin: auto;
  text-align: center;
}
#user-detail-intro{
  width: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
  user-select: none;
}
#user-detail-intro span{
  font-weight: 600;
}
@media screen and (min-width: 100px) and (max-width: 500px) {
  #about {
    font-weight: 100;
    font-size: x-small;
  }
}

@media screen and (min-width: 500px) and (max-width: 710px) {
}

@media screen and (min-width: 710px) and (max-width: 1000px) {
}
