#contact{
  padding-top: 100px;
  padding-bottom: 100px;
}

#contact-div{
  width: 60%;
  height: auto;
  margin: auto;
  padding: 25px 0px 25px 0px;
  margin-bottom: 50px;
  text-align: center;
}

#contact-div div {
  border: 2px solid rgb(77, 77, 77);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#contact-div h2{
  border: 1px solid rgb(82, 82, 82);;
  padding: 10px;
  width: 42%;
  margin: auto;
  text-align: center;
}

#contact-div h2 span {
  color: rgb(70, 194, 239);
  font-weight: 600;
  font-size: medium;
}
#contact-div div a {
  color: rgb(255, 255, 255);
  margin: 5px;
  padding: 10px;
  font-size: large;
  font-weight: 600;
  transition: all 0.4s;
}
/* #contact-div div a { */

  /* border: 1px solid white;; */
  /* border: 3px solid; */
  /* border-image: repeating-linear-gradient(
      135deg,
      rgb(70, 194, 239) 0 10px,
      rgb(70, 194, 239) 0 20px,
      white 0 30px
    )
    8;
  -webkit-mask: conic-gradient(
        from 180deg at top 8px right 8px,
        #0000 90deg,
        #000 0
      )
      var(--_i, 200%) 0 /200% var(--_i, 8px) border-box no-repeat,
    conic-gradient(at bottom 8px left 8px, #0000 90deg, #000 0) 0
      var(--_i, 200%) / var(--_i, 8px) 200% border-box no-repeat,
    linear-gradient(#000 0 0) padding-box no-repeat;
  transition: 0.3s, -webkit-mask-position 0.3s 0.3s; */
/* } */
#contact-div div a:hover {
  /* --_i: 100%; */
  /* color: #ffffff; */
  /* transition: 0.2s, -webkit-mask-size 0.2s 0.2s; */
  /* background-color: white; */
  color:rgb(70, 194, 239);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* For smartphones */
@media (max-width: 480px) {
  /* CSS styles for smartphones */
  #contact-div div a {
    padding: 10px;
    font-size: small;
    font-weight: 600;
    transition: all 0.2s;
  }
  #contact-div div a:hover {
    font-weight: 700;
    font-size: medium;
    color: rgb(70, 194, 239);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  }
  #contact-div div h2 {
    font-size: medium;
  }
  #contact-div div a i {
    font-size: x-small;
  }
  #contact-div div h2 span {
    color: rgb(70, 194, 239);
    font-weight: 600;
    font-size: small;
  }
  #contact-div div {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    justify-content: center;
  }

  #contact-div div a {
    width: 30%;
    margin: auto;
    color: rgb(255, 255, 255);
    font-size: x-small;
    padding: 5px;
    border-radius: 5px;
  }
 
}
/* For smartphones */
@media screen and (min-width: 100px) and (max-width: 480px) {
  /* CSS styles for smartphones */
   
}

/* For small tablets */
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* CSS styles for small tablets */
}

/* For larger tablets and smaller laptops */
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* CSS styles for larger tablets and smaller laptops */
}

/* For desktop screens */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  /* CSS styles for desktop screens */
}

/* For large screens */
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  /* CSS styles for large screens */
}







