#contact{
  padding-top: 20px;
  border: 1px solid white;
}
#contact-div{
  width: 60%;
  height: auto;
  margin: auto;
  padding: 25px 0px 25px 0px;
  margin-bottom: 50px;
  text-align: center;
}

#contact-div div {
  border: 2px solid rgb(77, 77, 77);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#contact-div h2{
  border: 1px solid rgb(82, 82, 82);;
  padding: 10px;
  width: 42%;
  margin: auto;
  text-align: center;
}

#contact-div h2 span {
  color: rgb(70, 194, 239);
  font-weight: 600;
  font-size: medium;
}
#contact-div div a {
  color: rgb(255, 255, 255);
  margin: 5px;
  padding: 10px;
  font-size: large;
  font-weight: 600;
  transition: all 0.2s;
}
#contact-div div a {
  /* border: 1px solid white;; */
  border: 3px solid;
  border-image: repeating-linear-gradient(
      135deg,
      rgb(70, 194, 239) 0 10px,
      rgb(70, 194, 239) 0 20px,
      white 0 30px
    )
    8;
  -webkit-mask: conic-gradient(
        from 180deg at top 8px right 8px,
        #0000 90deg,
        #000 0
      )
      var(--_i, 200%) 0 /200% var(--_i, 8px) border-box no-repeat,
    conic-gradient(at bottom 8px left 8px, #0000 90deg, #000 0) 0
      var(--_i, 200%) / var(--_i, 8px) 200% border-box no-repeat,
    linear-gradient(#000 0 0) padding-box no-repeat;
  transition: 0.3s, -webkit-mask-position 0.3s 0.3s;
}
#contact-div div a:hover {
  --_i: 100%;
  color: #ffffff;
  transition: 0.2s, -webkit-mask-size 0.2s 0.2s;
}

@media screen and (min-width: 100px) and (max-width: 500px) {
  #contact-div div a {
    padding: 10px;
    font-size: small;
    font-weight: 600;
    transition: all 0.2s;
  }
  #contact-div div a:hover {
    font-weight: 700;
    font-size: medium;
    color: rgb(70, 194, 239);
  }
  #contact-div div h2 {
    font-size: medium;
  }
  #contact-div div a i {
    font-size: x-small;
  }
  #contact-div div h2 span {
    color: rgb(70, 194, 239);
    font-weight: 600;
    font-size: small;
  }
  #contact-div div {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    justify-content: center;
  }

  #contact-div div a {
    width: 30%;
    margin: auto;
    color: rgb(255, 255, 255);
    font-size: x-small;
    padding: 5px;
    border-radius: 5px;
  }
}

@media screen and (min-width: 500px) and (max-width: 710px) {

}

@media screen and (min-width: 710px) and (max-width: 1000px) {

}