.react-activity-calendar {
  text-align: center;
  width: 85%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  /* border: 2px solid rgb(77, 77, 77); */
  /* border: 2px solid  rgb(70, 194, 239); */
}

.react-activity-calendar h2{
  border: 1px solid rgb(82, 82, 82);;
  padding: 10px;
  width: 42%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#git-stat > div {
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;
}

#git-stat > div > img {
  width: 45%;
  background-color: black;
}

@media screen and (min-width: 100px) and (max-width: 500px) {
  #git-stat > div > img {
    width: 60%;
  }

}

@media screen and (min-width: 500px) and (max-width: 710px) {
  #git-stat > div > img {
    width: 70%;
  }
}

@media screen and (min-width: 710px) and (max-width: 1000px) {
  /* Nav Bar only */
}
