* {
  background-color: rgb(0, 0, 0);
  color: white;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

#nav-menu {
  top: 0;
  z-index: 6;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#nav-menu div {
  text-align: center;
  align-items: center;
  align-content: center;
}

#nav-menu div ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#nav-menu div ul li {
  padding: 10px;
}

#nav-menu div ul li a {
  font-size: small;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 255, 255);
}
#nav-menu div ul li a span {
  color: rgb(70, 194, 239);
}

#resume-button-1,
#resume-button-2,
.project-github-link,
.project-deployed-link {
  color: rgb(70, 194, 239);
  border: 1px solid rgb(70, 194, 239);
  padding: 10px;
  border-radius: 5px;
}

/*+++++++++++ HOME ++++++++++*/

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;
  justify-content: center;
}

#home img {
  width: 25%;
  border-radius: 10%;
  border: 4px solid  rgb(70, 194, 239);
}

#about {
  width: 70%;
  margin: auto;
  color: white;
  text-align: center;
  font-weight: 400;
}

#left_static {
  width: 2%;
  padding: 10px;
  position: fixed;
  height: 27rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 6;
}

#left_static i {
  color: rgb(70, 194, 239);
}

#left_static h5 {
  writing-mode: vertical-rl;
  color: rgb(70, 194, 239);
}

#right_static {
  padding: 10px;
  padding-top: 20px;
  right: 0;
  width: 2%;
  position: fixed;
  height: 27rem;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(0, 0, 0);
}
#right_static h5,
#right_static span {
  writing-mode: vertical-rl;
  color: rgb(70, 194, 239);
}

#right_static span {
  letter-spacing: 2px;
}

#container {
  width: 86%;
  margin: auto;
}

#skills {
  width: 60%;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  margin: auto;
}

#skills div {
  border: 2px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  color: rgb(70, 194, 239);
  justify-content: space-between;
}
#skills img {
  width: 50%;
}

#projects {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 5px;
  margin: auto;
}

#projects > div {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border: 2px solid grey;
}
.project-title{
  color: white;
}

#projects > div > img {
  width: 100%;
}
/* #projects > div:last-child > img {
  width: 70%;
} */

#contact{
  margin: auto;
  width: 70%;
  text-align: center;
  border: 2px solid grey;
}

#contact i{
  color: rgb(255, 255, 255);
  font-size: xx-large;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid  rgb(70, 194, 239);
}

#resume{
  margin: auto;
  width: 70%;
  text-align: center;
  /* border: 2px solid grey; */
}

#resume a{
  color: rgb(255, 255, 255);
  font-size: xx-large;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid  rgb(70, 194, 239);
}
