* {
  background-color: rgb(0, 0, 0);
  color: white;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

/* #nav-menu {
  top: 0;
  z-index: 6;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#nav-menu div {
  text-align: center;
  align-items: center;
  align-content: center;
}
#nav-menu div ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#nav-menu div ul li {
  padding: 10px;
}
#nav-menu div ul li a {
  font-size: small;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 255, 255);
}
#nav-menu div ul li a span {
  color: rgb(70, 194, 239);
} */
.project-github-link,
.project-deployed-link {
  color: rgb(70, 194, 239);
  border: 1px solid rgb(70, 194, 239);
  padding: 10px;
  border-radius: 5px;
}
/* <!------------ Home ----------------> */
#home {
  margin-top: 100px;
  margin-bottom: 100px;
  color: white;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

#home img {
  width: 20%;
  border-radius: 10%;
}

#resume-button-2 {
  border: 3px solid rgb(70, 194, 239);
  background-color: black;
  color: rgb(70, 194, 239);
  padding: 10px;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 550;
}


/* <!------------ About----------------> */
#about {
  height: 50vh;
  width: 70%;
  margin: auto;
  color: white;
  text-align: center;
  font-weight: 400;
}
/* <!------------ Left Static----------------> */
#left_static {
  width: 2%;
  padding-left: 30px;
  position: fixed;
  height: 27rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 6;
}
#left_static i {
  color: rgb(255, 255, 255);
  font-size: medium;
  transition-duration: 0.5s;
}
#left_static i:hover {
  color: rgb(135, 223, 255);
  border-radius: 10px;
  font-size: large;
}
#left_static h5 {
  writing-mode: vertical-rl;
  color: rgb(70, 194, 239);
}
/* <!------------ Right Static----------------> */
#right_static {
  padding: 10px;
  padding-top: 55px;
  right: 0;
  width: 2%;
  position: fixed;
  height: 27rem;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(0, 0, 0);
}
#right_static h5,
#right_static span {
  writing-mode: vertical-rl;
  color: rgb(255, 255, 255);
}
#right_static span {
  letter-spacing: 2px;
  font-size: 16px;
  transition-duration: 0.5s;
}
#right_static span:hover {
  color: rgb(70, 194, 239);
  padding: 5px;
  border-radius: 5px;
}

#container {
  width: 86%;
  margin: auto;
}

#skills {
  width: 60%;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  margin: auto;
}

#skills div {
  border: 2px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  color: rgb(70, 194, 239);
  justify-content: space-between;
}
#skills img {
  width: 50%;
}

#projects {
  width: 70%;
  margin-top: 20vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 5px;
  margin: auto;
}

#projects > div {
  display: flex;
  padding: 5px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border: 2px solid grey;
}

.project-title {
  color: white;
}

#projects > div > img {
  width: 100%;
}
/* #projects > div:last-child > img {
  width: 70%;
} */

/* #resume {
  margin: auto;
  width: 70%;
  text-align: center;
  border: 2px solid grey;
} */

/* #resume a {
  color: rgb(255, 255, 255);
  font-size: large;
  color: rgb(70, 194, 239);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(70, 194, 239);
} */

.react-activity-calendar {
  text-align: center;
  width: 80%;
  margin: auto;
  /* border: 2px solid  rgb(70, 194, 239); */
}

#git-stat > div:first-child {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

#git-stat > div > img {
  width: 50%;
  background-color: black;
}

#contact div {
  width: 60%;
  height: auto;
  margin: auto;
  margin-top: 50px;
  padding: 25px 0px 25px 0px;
  text-align: center;
  border: 2px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#contact div a {
  color: rgb(255, 255, 255);
  margin: 5px;
  padding: 10px;
  font-size: large;
  font-weight: 600;
  transition: all 0.2s;
}
#contact div a {
  /* border: 1px solid white;; */
  border: 3px solid;
  border-image: repeating-linear-gradient(
      135deg,
      rgb(70, 194, 239) 0 10px,
      rgb(70, 194, 239) 0 20px,
      white 0 30px
    )
    8;
  -webkit-mask: conic-gradient(
        from 180deg at top 8px right 8px,
        #0000 90deg,
        #000 0
      )
      var(--_i, 200%) 0 /200% var(--_i, 8px) border-box no-repeat,
    conic-gradient(at bottom 8px left 8px, #0000 90deg, #000 0) 0
      var(--_i, 200%) / var(--_i, 8px) 200% border-box no-repeat,
    linear-gradient(#000 0 0) padding-box no-repeat;
  transition: 0.3s, -webkit-mask-position 0.3s 0.3s;
}

#contact div a:hover {
  --_i: 100%;
  color: #ffffff;
  transition: 0.2s, -webkit-mask-size 0.2s 0.2s;
}

#contact div h2 span {
  color: rgb(70, 194, 239);
  font-weight: 600;
  font-size: medium;
}

/* ------------------------------------------------------- */
@media screen and (min-width: 100px) and (max-width: 500px) {
  /* Nav Bar only */
  #projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }

  #projects > div {
    padding: 0px;
    font-size: x-small;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 1px solid grey;
  }
  #projects > div > img {
    width: 100%;
  }

  .project-github-link,
  .project-deployed-link {
    color: rgb(70, 194, 239);
    border: 1px solid rgb(70, 194, 239);
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
  }

  #contact div {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    justify-content: center;
  }

  #contact div a {
    width: 30%;
    margin: auto;
    color: rgb(255, 255, 255);
    font-size: x-small;
    padding: 5px;
    border-radius: 5px;
  }

  #git-stat > div > img {
    width: 70%;
  }

  #resume {
    margin: auto;
    width: 40%;
    text-align: center;
    /* border: 2px solid grey; */
  }

  #resume a {
    font-size: x-small;
    padding: 10px;
    border-radius: 5px;
  }

  #skills {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin: auto;
  }

  #skills div {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    color: rgb(70, 194, 239);
    justify-content: space-between;
  }
  #skills img {
    width: 40%;
  }

  #left_static {
    width: 1%;
    padding: 5px;
  }

  #about {
    font-weight: 100;
    font-size: x-small;
  }

  /* #resume-button-1, */
  #resume-button-2 {
    color: rgb(70, 194, 239);
    border: 1px solid rgb(70, 194, 239);
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
  }

  #home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 30px;
    justify-content: center;
  }

  /**-------------- Contact --------------------**/
  #contact div a {
    padding: 10px;
    font-size: small;
    font-weight: 600;
    transition: all 0.2s;
  }
  #contact div a:hover {
    font-weight: 700;
    font-size: medium;
    color: rgb(70, 194, 239);
  }
  #contact div h2 {
    font-size: medium;
  }
  #contact div a i {
    font-size: x-small;
  }
  #contact div h2 span {
    color: rgb(70, 194, 239);
    font-weight: 600;
    font-size: small;
  }

  /* <!---------------- Left Static----------------> */
  #left_static {
    width: 2%;
    padding: 10px;
    position: fixed;
    height: 33rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 6;
  }
  #left_static i {
    color: rgb(255, 255, 255);
    font-size: small;
    transition-duration: 0.5s;
  }
  #left_static i:hover {
    font-size: medium;
  }
  #left_static h5 {
    writing-mode: vertical-rl;
    color: rgb(70, 194, 239);
  }
}

@media screen and (min-width: 500px) and (max-width: 710px) {
  /* Nav Bar only */
  #projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
}

@media screen and (min-width: 710px) and (max-width: 1000px) {
  /* Nav Bar only */
}
