/* #nav-menu {
  top: 0;
  z-index: 6;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#nav-menu div {
  text-align: center;
  align-items: center;
  align-content: center;
}
#nav-menu div ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#nav-menu div ul li {
  padding: 10px;
}
#nav-menu div ul li a {
  font-size: small;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 255, 255);
}
#nav-menu div ul li a span {
  color: rgb(70, 194, 239);
} */

.nav {
  height: 50px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  margin-bottom: 190px;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #ffffff;
  font-weight: 550;
  padding: 10px 10px 10px 40px;
  font-family: "Courier New", Courier, monospace;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
}

.nav > .nav-links > ul {
  padding: 0;
  margin-right: 40px;
  list-style: none;
  position: relative;
}

.nav > .nav-links > ul > li {
  border: 3px solid;
  border-image: repeating-linear-gradient(
      135deg,
      rgb(70, 194, 239) 0 10px,
      rgb(70, 194, 239) 0 20px,
      white 0 30px
    )
    8;
  -webkit-mask: conic-gradient(
        from 180deg at top 8px right 8px,
        #0000 90deg,
        #000 0
      )
      var(--_i, 200%) 0 /200% var(--_i, 8px) border-box no-repeat,
    conic-gradient(at bottom 8px left 8px, #0000 90deg, #000 0) 0
      var(--_i, 200%) / var(--_i, 8px) 200% border-box no-repeat,
    linear-gradient(#000 0 0) padding-box no-repeat;
  transition: 0.3s, -webkit-mask-position 0.3s 0.3s;
}

.nav > .nav-links > ul > li:hover {
  --_i: 100%;
  color: #ffffff;
  transition: 0.2s, -webkit-mask-size 0.2s 0.2s;
}

.nav > .nav-links > ul li {
  display: inline-block;
  background-color: rgb(70, 194, 239);
}
.nav > .nav-links > ul li a {
  display: block;
  padding: 0 8px;
  color: #fff;
  line-height: 40px;
  font-size: 16px;
  font-weight: 550;
  text-decoration: none;
}
.nav > .nav-links > ul > li > a > span {
  background-color: #000000;
}
.nav > .nav-links > ul > li > a > span:hover {
  border-bottom: 2px solid black;
}
.nav > #nav-check {
  display: none;
}
.nav .nav-links ul a.icon {
  margin-left: 80px;
  margin-right: 10px;
}
#resume-button-1 {
  border: 3px solid rgb(70, 194, 239);
  border-radius: 5px;
  background-color: black;
}

@media (max-width: 750px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    /* text-align: center; */
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: transparent;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > ul li a {
    display: block;
    width: 100%;
  }

  /*   */

  .nav > .nav-links > ul li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
    background-color: transparent;
  }
  .nav > .nav-links > ul li a {
    margin-left: 40%;
  }
  .nav .nav-links ul a.icon {
    margin-left: 33%;
  }

  /*   */
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}


@media screen and (min-width: 100px) and (max-width: 500px) {
}

@media screen and (min-width: 500px) and (max-width: 710px) {
}

@media screen and (min-width: 710px) and (max-width: 1000px) {
  /* Nav Bar only */
}