#projects {
  padding-top: 75px;
  /* border: 1px solid white; */
}
#projects h2 {
  border: 1px solid rgb(82, 82, 82);
  padding: 10px;
  width: 42%;
  margin: auto;
  text-align: center;
}
#projects h2:hover {
  border: 1px solid rgb(255, 255, 255);
}
#project-div {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.project-card {
  display: flex;
  padding: 5px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border: 2px solid grey;
}

.project-title {
  color: white;
}

.project-card-img img {
  width: 80%;
}

.project-github-link,
.project-deployed-link {
  color: rgb(70, 194, 239);
  border: 1px solid rgb(70, 194, 239);
  padding: 10px;
  border-radius: 5px;
}

.project-tech-stack>img{
width: 5%;
}

/* @media screen and (min-width: 100px) and (max-width: 500px) {
  #project-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
  #project-div > div {
    padding: 0px;
    font-size: x-small;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 1px solid grey;
  }
  #project-div > div > img {
    width: 100%;
  }
  .project-github-link,
  .project-deployed-link {
    color: rgb(70, 194, 239);
    border: 1px solid rgb(70, 194, 239);
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
  }
}
@media screen and (min-width: 500px) and (max-width: 710px) {
  #project-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
} */

@media screen and (min-width: 710px) and (max-width: 1000px) {
  /* Nav Bar only */
}
