#right_static {
    padding: 10px;
    right: 0;
    width: 2%;
    position: fixed;
    height: 27rem;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 100px;
  }
  #right_static h5,
  #right_static span {
    writing-mode: vertical-rl;
    color: rgb(255, 255, 255);
  }
  #right_static span {
    letter-spacing: 2px;
    font-size: 16px;
    transition-duration: 0.5s;
  }
  #right_static span:hover {
    color: rgb(70, 194, 239);
    padding: 5px;
    border-radius: 5px;
  }

/* For smartphones */
@media screen and (min-width: 100px) and (max-width: 480px) {
  /* CSS styles for smartphones */
   
}

/* For small tablets */
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* CSS styles for small tablets */
}

/* For larger tablets and smaller laptops */
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* CSS styles for larger tablets and smaller laptops */
}

/* For desktop screens */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  /* CSS styles for desktop screens */
}

/* For large screens */
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  /* CSS styles for large screens */
}