#skills {
  width: 60%;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  margin: auto;
}

#skills div {
  border: 2px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  color: rgb(70, 194, 239);
  justify-content: space-between;
}
#skills img {
  width: 50%;
}

@media screen and (min-width: 100px) and (max-width: 500px) {
  #skills {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin: auto;
  }

  #skills div {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    color: rgb(70, 194, 239);
    justify-content: space-between;
  }
  #skills img {
    width: 40%;
  }
}

@media screen and (min-width: 500px) and (max-width: 710px) {
}

@media screen and (min-width: 710px) and (max-width: 1000px) {
  /* Nav Bar only */
}
