#skills {
  /* border: 1px solid white; */
  padding-top: 80px;
}

#skills h2 {
  border: 1px solid rgb(82, 82, 82);
  padding: 10px;
  width: 42%;
  margin: auto;
  text-align: center;
}

#skills h2:hover{
  border: 1px solid rgb(255, 255, 255);
}

#skills-div {
  width: 60%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  margin: auto;
}

#skills-div div {
  border: 2px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  color: rgb(70, 194, 239);
  justify-content: space-between;
  transition-duration: all 1s;
}

#skills-div div:hover {
  border: 2px solid white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#skills-div img {
  width: 50%;
}

@media screen and (min-width: 100px) and (max-width: 500px) {
  #skills {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin: auto;
  }

  #skills div {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    color: rgb(70, 194, 239);
    justify-content: space-between;
  }
  #skills img {
    width: 40%;
  }
}

@media screen and (min-width: 500px) and (max-width: 710px) {
}

@media screen and (min-width: 710px) and (max-width: 1000px) {
  /* Nav Bar only */
}
